@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f2f4;
  --foreground: #171717;
  --white-bg: #FFFFFF;
  --search-bg: #f0f5ff;
  /*--white-bg: #FFFFFF;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f2f4;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
